<nav class="docsNav">
  <h4>Getting Started</h4>
  <ol class="docsNav-itemContainer">
    <li class="docsNav-item {{'docsNav-item--active' if page.url == '/docs/installation/' else ''}}">
      <a href="/docs/installation/">Installation</a>
    </li>

    <li class="docsNav-item {{'docsNav-item--active' if page.url == '/docs/configuration/' else ''}}">
      <a href="/docs/configuration/">Configuration</a>
    </li>

    <li class="docsNav-item {{'docsNav-item--active' if page.url == '/docs/usage/' else ''}}">
      <a href="/docs/usage/">Usage</a>
    </li>

    <li class="docsNav-item {{'docsNav-item--active' if page.url == '/docs/overview/' else ''}}">
      <a href="/docs/overview/">Overview</a>
    </li>

    <li class="docsNav-item {{'docsNav-item--active' if page.url == '/docs/collections/' else ''}}">
      <a href="/docs/collections/">Collections</a>
    </li>

    <li class="docsNav-item {{'docsNav-item--active' if page.url == '/docs/file/' else ''}}">
      <a href="/docs/file/">File</a>
    </li>

    <li class="docsNav-item {{'docsNav-item--active' if page.url == '/docs/variables/' else ''}}">
      <a href="/docs/variables/">Variables</a>
    </li>

    <li class="docsNav-item {{'docsNav-item--active' if page.url == '/docs/plugins/' else ''}}">
      <a href="/docs/plugins/">Plugins</a>
    </li>
  </ol>
</nav>