{% macro isNavItemActive(currentUrl, url) -%}
  {{'docsNav-item--active' if currentUrl == url else ''}}
{%- endmacro %}

<nav class="docsNav">
  <h4>Getting Started</h4>
  <ol class="docsNav-itemContainer">
    <li class="docsNav-item {{isNavItemActive(file.url, '/docs/installation/')}}">
      <a href="/docs/installation/">Installation</a>
    </li>

    <li class="docsNav-item {{isNavItemActive(file.url, '/docs/overview/')}}">
      <a href="/docs/overview/">Overview</a>
    </li>

    <li class="docsNav-item {{isNavItemActive(file.url, '/docs/usage/')}}">
      <a href="/docs/usage/">Usage</a>
    </li>

    <li class="docsNav-item {{isNavItemActive(file.url, '/docs/configuration/')}}">
      <a href="/docs/configuration/">Configuration</a>
    </li>

    <li class="docsNav-item {{isNavItemActive(file.url, '/docs/collections/')}}">
      <a href="/docs/collections/">Collections</a>
    </li>

    <li class="docsNav-item {{isNavItemActive(file.url, '/docs/file/')}}">
      <a href="/docs/file/">File</a>
    </li>

    <li class="docsNav-item {{isNavItemActive(file.url, '/docs/templates/')}}">
      <a href="/docs/templates/">Templates</a>
    </li>

    <li class="docsNav-item {{isNavItemActive(file.url, '/docs/variables/')}}">
      <a href="/docs/variables/">Variables</a>
    </li>

    <li class="docsNav-item {{isNavItemActive(file.url, '/docs/plugins/')}}">
      <a href="/docs/plugins/">Plugins</a>
    </li>
  </ol>
</nav>