<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{% block head_title %}{{site.title}}{% endblock %}</title>
  <meta name="description" content="{{site.description}}">
  <meta name="keywords" content="{{site.keywords}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" type="text/css" href="{{theme.css}}" />
</head>
<body class="{% block body_class %}{% endblock %}">

  <div class="headerWrapper clearfix">
    <header class="mainHeader clearfix">
      <div class="mainLogo">
        <h1 class="mainLogo-title">
          <a href="/">{% block header_title %}{{site.title}}{% endblock %}</a>
        </h1>
      </div>

      <nav class="mainNav">
        <div class="mainNav-item {{'mainNav-item--active' if file.url == '/index.html' else ''}}">
          <a href="/">Home</a>
        </div>
        <div class="mainNav-item {{'mainNav-item--active' if file.url|truncate(6, true, '') == '/docs/' else ''}}">
          <a href="/docs/">Docs</a>
        </div>
        <div class="mainNav-item">
          <a href="https://github.com/yarnjs/yarn">GitHub</a>
        </div>
        <div class="mainNav-item">
          <iframe class="mainNav-item--iframe" frameborder="0" scrolling="0" width="80px" height="20px"
            src="https://ghbtns.com/github-btn.html?user=yarnjs&repo=yarn&type=star&count=true"></iframe>
        </div>
      </nav>
    </header>
  </div>

  <div class="contentWrapper">
    <main id="content" class="content" role="main">
      {% block content %}{% endblock%}

      {% include "_pagination.html" %}
    </main>
  </div>

  <div class="footerWrapper">
    <footer class="mainFooter clearfix">
      <p class="footer-published">
        joyfully published by <a href="https://github.com/yarnjs/yarn">yarn</a>
      </p>
    </footer>
  </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70892705-1', 'auto');
  ga('send', 'pageview');
  </script>
  <script type="text/javascript" src="{{theme.js}}"></script>
</body>
</html>
