{% extends 'base.html' %}

{% block body_class %}post-template{% endblock%}

{% block content %}

<article class="post">

  <header class="postHeader">
    <h1 class="post-title">{{page.title}}</h1>
    <section class="post-meta">
      <time class="post-date" datetime="{{post.date | date('D MMMM YYYY')}}">{{post.date | date('D MMMM YYYY')}}</time>
      <span>&middot; {% for tag in page.tags %}
        <a href="/tag/{{tag}}/">{{tag}}</a>
      {% endfor%}</span>
    </section>
  </header>

  <section class="post-content">
    {{page.content | safe}}
  </section>

  <footer class="post-footer">
  </footer>

</article>

{% endblock%}